{% extends './backend/backbody.html.twig' %}
{% block content %}

    {{ form_start(form,{attr:{'id':'form'}}) }}
    <div class="container">
        <div class="form-group">
            {{ form_label(form.rating,"rating:") }}

            {{ form_widget(form.rating, {attr: {class:'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.description,"description:" ) }}

            {{ form_widget(form.description,{attr: {class:'form-control'}}) }}
        </div>
       <div class="form-group">
            {{ form_label(form.idformation,"idformation:" ) }}

            {{ form_widget(form.idformation,{attr: {class:'form-control'}}) }}
        </div>



    </div>
    <div class="card-footer">
        <button type="submit" href="{{ path('add_review') }}" class="btn btn-primary">Submit</button>
    </div>




    {{ form_end(form) }}

{% endblock content %}