{% extends './backend/backbody.html.twig' %}
{% block content %}

    {{ form_start(form,{attr:{'id':'form'}}) }}
    <div class="container">
        <div class="form-group">
            {{ form_label(form.pourcentage,"pourcentage:") }}

            {{ form_widget(form.pourcentage, {attr: {class:'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.calcul,"calcul:" ) }}

            {{ form_widget(form.calcul,{attr: {class:'form-control'}}) }}
        </div>
        {#  <div class="form-group">
            {{ form_label(form.prix,"prix:" ) }}

            {{ form_widget(form.prix,{attr: {class:'form-control'}}) }}
        </div>#}



    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>




    {{ form_end(form) }}

{% endblock content %}